<h1>Up-time Monitoring</h1>
<h2>Via Whatsapp</h2>

<div class="blurb">
    Uptime Monitoring at best. Get notified via whatsapp in realtime.
    <br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem cum voluptate iste reiciendis fuga architecto quod
    ad expedita rerum nobis? Assumenda, architecto eligendi consectetur ipsam dicta voluptate quae laudantium? Qui?
    <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ullam rem architecto quos velit libero ea pariatur
    aspernatur enim, quasi animi eius dolorem, maxime accusantium officiis exercitationem totam quam blanditiis.
</div>

<div class="ctaWrapper">
    <a class="cta green" href="account/create">Get Started</a>
    <a class="cta blue" href="session/create">Login</a>
</div>